html {
    height: 100%;
}

/* Removing user agent stylesheet margin */
body {
    margin: inherit;
    background-image: url("/assets/images/race-track.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto 100%;
}

/* Main screen set up*/
.side-area-left,
.side-area-right {
    display: none;
}

.game-area {
    /* height: 100%; */
    background-color: lightgrey;
    /* border: 3px solid black; */
    margin: 40% auto auto auto;
    /* Prevents overflow */
    width: inherit;
}

.game-window {
    width: inherit;
    /* margin: 13% auto; */
    background-color: lightgrey;
    /* border: 2px solid black; */
    /* border-bottom: 5px solid black; */
    /* border-left: 5px solid black;
    border-right: 5px solid black; */
    /* border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black; */
    padding-bottom: 17%;
    padding-top: 5%;
    border: 3px solid black;
}

.game-window>div {
    width: 90%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    /* padding: 10px; */
    padding-left: 2.5%;
    /* padding-bottom: 85px; */
    background-color: lightgray;
    /* position: sticky;
    top: 0; */
    /* margin-top: -50px;
    width: 95%; */
}

h2 {
    text-align: center;
    padding: 10px auto;
    line-height: 0px;
    margin-bottom: 31px;
}

p {
    text-align: justify;
}

.main-screen-button,
.new-game-screen-button {
    display: block;
    margin: 7px auto;
    padding: 6px 5px;
    box-shadow: 2px 2px 2px grey;
}

.show {
    display: block;
}

/* #continue-game {
    display: none;
}

#quit-game {
    display: none;
} */

#initial-menu,
#difficulty-menu,
#rules-page,
#about-page,
#controls-page {
    position: sticky;
    padding-top: 10px;
}

/* #difficulty-menu {
    display: none;
} */

/* #rules-page {
    display: none;
} */

/* #about-page {
    display: none;
}

#controls-page {
    display: none;
} */


#game-button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: sticky;
    top: 0;
    /* margin-top: 50px; */
    background-color: lightgray;
    margin: auto auto auto -1%;
}

#game-table {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    /* To compensate for fixed positioning of buttons and h1 */
    /* padding-top: 95px; */
}

span {
    background-color: white;
    border: 1px solid black;
    aspect-ratio: 2/1;
    padding: 5px 0;
    text-align: center;

}

.hint {
    background-color: red;
}

.hide {
    display: none;
}

#score {
    margin: 0 auto 5px;
    width: auto;
    padding: 1px 5px;
    height: 20px;
    color: black;
    display: block;
    background-color: white;
    border: 2px solid black;
    text-align: center;
}


@media (min-width: 600px) {

    h2 {
        margin-bottom: 15px;
    }

    #grid-container {
        display: grid;
        grid-template-columns: 25% auto 25%;
    }

    .side-area-left,
    .side-area-right {
        display: grid;
    }

    #flex {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
    }

    #game-button-container {
        display: block;
        position: fixed;
        top: unset;
        width: 12%;
        /* margin-top: -95px; */
        /* margin: auto; */
        margin-top: -7%;
    }

    .game-area {
        width: 100%;
        height: auto:
    }

    #game-table {
        min-width: 75%;
        margin-right: 28%;
        /* necessary to ensure beginner mode doesn't expand space between span rows */
        height: 100%;
        margin-left: -10px;
        padding-top: 10px;
    }

    h1 {
        font-size: 30px;
        justify-content: left;
        /* Overrulling user agent stylesheet */
        display: inline-block;
        /* padding: 10px; */
        /* margin: 0; */
        padding-bottom: 0;
        /* background-color: lightgray; */
        position: static;
        /* margin-top: -61px; */
        width: auto;
        /* margin-left: -3px;
        margin-right: -3px; */
        /* border-top: 3px solid black; */
        /* border-left: 3px solid black;
        border-right: 3px solid black; */
    }
}

@media (min-width: 600px) {
    #game-button-container {
        margin-top: -13%;
    }
}

@media (min-width: 1100px) {
    #game-button-container {
        margin-top: -9%;
    }
}