html {
    height: 100%;
}

/* Removing user agent stylesheet margin */
body {
    margin: inherit;
    background-image: url("../images/race-track.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: #BC4A3C;
}

/* Main screen set up*/
.side-area-left,
.side-area-right {
    display: none;
}

#game-area {
    background-color: lightgrey;
    margin: 20% auto auto auto;
    /* Prevents overflow */
    width: inherit;
}

#game-window {
    width: inherit;
    background-color: lightgrey;
    padding: 5% 0;
    border: 3px solid black;
}

#game-window > section {
    width: 90%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    padding-left: 2.5%;
    background-color: lightgray;
    /* Adding 1% margin to prevent h1 from covering external border */
    margin: 0 1%;

}

h2 {
    text-align: center;
    padding: 10px auto;
    line-height: 0px;
    margin-bottom: 29px;
    font-size: large;
}

h1, h2 {
    font-family: "Kanit", "Times New Roman", sans-serif;
}

p {
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
}

.main-screen-button,
.new-game-screen-button {
    display: block;
    margin: 7px auto;
    padding: 10px 10px;
    font-size: larger;
    box-shadow: 3px 3px 2px darkgrey;
}

.in-game-screen-button {
    display: block;
    margin: 7px auto;
    padding: 6px 4px;
    box-shadow: 3px 3px 2px darkgrey;
}


.hidden {
   visibility: hidden;
}

#initial-menu,
#difficulty-menu,
#rules-page,
#about-page,
#controls-page {
    padding-top: 10px;
}

.text-block {
    border: 2px solid black;
    margin: 5px auto;
    background-color: whitesmoke;
    border-radius: 5%;
    padding: 15px;
}

#game-button-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: sticky;
    top: 0;
    background-color: lightgray;
    margin: 0 1px;
}

.fa-solid {
    color: black;
    font-size: xx-large;
    margin-left: 30%;
}

#game-table {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

span {
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 10px 0;
    text-align: center;
    font-size: large;
    /* Added to combat span height changing when span is empty */
    line-height: 0.9;
}

.hint {
    background-color: rgb(244 196 48);
    border: 1px dotted grey;
    font-weight: 600;
}

.choice {
    background-color: #E5E619;
    border: 1px dotted grey;
    font-weight: 600;
    transition: all 0.2s ease-in;
}

.removed-choice {
    background-color: #000001;
    border: 1px solid black;
    transition: all 0.4s ease-out;
}

.hide {
    display: none;
}

#score {
    margin: 0 auto 5px;
    width: auto;
    padding: 5px 5px 1px 5px;
    height: 23px;
    color: black;
    display: block;
    background-color: whitesmoke;
    border: 2px solid black;
    text-align: center;
}

#computer-controls {
    display: none;
}

.general-controls-icons {
    margin-left: 0;
}

.image-display {
    margin: 5px auto;
    border: 2px solid black;
    display: block;
    max-width: 275px;
}

#error-container {
    background-color: lightgrey;
    margin: 5% auto;
    min-height: 15vh;
    border: 2px solid black;
}

#error-container > a {
    color: black;
    margin: 5%;
}

#error-title {
    margin-bottom: 5%;
}

/* Media query organising display of screens wider than 750px */

@media (min-width: 750px) {
    span {
        padding: 12px 0;
    }
}

/* Media query organising display of screens wider than 950px */

@media (min-width: 950px) {
    h2 {
        margin-bottom: 15px;
    }

    #grid-container {
        display: grid;
        grid-template-columns: 25% auto 25%;
    }

    .side-area-left,
    .side-area-right {
        display: grid;
    }

    #flex {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        min-height: 500px;
    }

    #game-button-container {
        display: block;
        padding-top: 5%;
        margin: 0 auto;
        /* Adding to ensure button container remains on the screen, otherwise it doesn't remain sticky */
        max-height: 50px;
    }

    #game-area {
        width: 100%;
        height: auto;
    }

    #game-table {
        min-width: 75%;
        margin: 0 auto 0 10px;
        height: 100%;
        padding-top: 10px;
    }

    .fa-solid {
        margin-left: 1vw;
    }

    #phone-controls {
        display: none;
    }

    #computer-controls {
        display: block;
    }
}

/* Media query organising display of screens wider than 1500px */

@media (min-width: 1500px) {
    body {
        background-size: cover;
    }
}

/* Media query organising display of screens wider than 1800px */

@media (min-width: 1800px) {
    span {
        padding: 16px 0;
        font-size: x-large;
        line-height: 2;
    }

    #score {
        aspect-ratio: unset;
        height: auto;
        padding: 5px 1px;
    }
}
